// Global style

$data-table-regular-row-height: 56px;

$dialog-border-radius: 8px;

$snackbar-wrapper-min-width: 260px;
$snackbar-bottom: 24px;
$snackbar-left: 24px;
$snackbar-right: 24px;

$tooltip-background-color: rgba(#424242, 0.95);
$tooltip-font-size: 10px;
$tooltip-padding: 4px 8px;
